<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create new book shelf</title>
  </head>
  <body>
    <form action="/books" method="POST">
      <input type="text" name="title" placeholder="Title" />
      <input type="text" name="author" placeholder="Author" />
      <input type="text" name="genre" placeholder="Genre" />
      <input type="text" name="status" placeholder="Status" />

      <input type="text" name="image" placeholder="Paste Image URL here" />

      <button type="submit">Add Book</button>
    </form>
  </body>
</html>
